.box {
    background-color: var(--primary-color);
    border-radius: 1vh;
    position: relative;
    border: 1px solid var(--font-color);
    padding: 1vh;
}

.scroll-box {
    overflow: scroll;
    height: 90%;
}

.scroll-box::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.flex-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.flex-scroll {
    overflow: scroll;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    overflow-x: hidden;
    padding-right: 2vh;
}

.lower-header {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 2vh;
    text-align: center;
}

.item {
    border-bottom: 1px solid var(--background-color);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.item:last-child {
    border-bottom: none;
}

.formula {
    text-align: right;
    font-weight: bold;
    color: var(--accent-color);
}