.transparent-box {
    position: relative;
}

.transparent-box:last-of-type {
    border-bottom: none;
}

.item {
    border-bottom: 0.5px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
}
