button, .nuyen, .edge, .formula, .favourite, .add, .boost, .mod, i, .spirit-selection, .dice, .mutator, .type, .ghost, .spirit-power, .damage-box {
    cursor: pointer;
}

button {
    background-color: transparent;
    color: var(--accent-color);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.dice {
    background-color: var(--primary-color);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 15%;
}