button, .nuyen, .edge, .formula, .favourite, .add, .boost, .mod, i, .spirit-selection, .dice, .mutator, .type, .ghost, .spirit-power, .damage-box {
    cursor: pointer;
}

button {
    background-color: transparent;
    color: var(--accent-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5vh;
    font-weight: bold;
    font-size: 6dvw;
    text-align: center;
}

.confirm {
    border: none;
    padding: 2vh;
}

.dice {
    border: none;
    background-color: var(--primary-color);
    color: var(--accent-color);
    height: 4vh;
    width: 4vh;
}

.mutator {
    color: var(--accent-color);
    font-size: 15dvw;
    font-weight: bold;
    width: 20dvw;
    text-align: center;
}