button:hover, .nuyen, .edge, .formula, .favourite, .add, .boost, .mod, i {
    cursor: pointer;
}

.total-value {
    font-weight: bold;
    font-size: 3vh;
    border: none;
    text-align: center;
    align-content: center;
    border-radius: 0.5vh;
    height: 4vh; /* reference for line-height */
    width: 4vh;
    background-color: var(--background-color);
    color: var(--accent-color);
}

.total-value:active {
    background-color: var(--font-color);
}