.favourite {
    appearance: none;
    border-radius: 0.2rem;
    background-color: var(--background-color);
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0;
    margin-right: 12px;
    align-self: center;
}

.favourite:checked {
    background-color: var(--accent-color);
}

.damage-box {
    appearance: none;
    width: 4vh;
    height: 4vh;
    border-radius: 0.5vh;
    background-color: var(--background-color);
    position: relative;
    bottom: 2vh;
    border: 1px solid var(--background-color);
}

.damage-box:checked {
    background-color: var(--accent-color);
}