.favourite {
    appearance: none;
    border-radius: 0.2rem;
    background-color: var(--background-color);
    border: 1px solid var(--accent-color);
    margin: 0;
    height: 1rem;
    width: 1rem;
}

.favourite:checked {
    background-color: var(--accent-color);
}