@media (max-width: 600px) {
    html {
        font-size: 20px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 40px;
    }
}
@media (min-width: 1025px) {
    html {
        font-size: 30px;
    }
}

.clickable {
    color: var(--accent-color);
}