body {
    font-size: 4vw;
}

strong {
    font-size: 4vw;
}

h1 {
    text-align: center;
}

.name {
    font-size: 5.5vw;
    font-weight: bold;
    align-content: center;
}

.clickable-name {
    font-size: 5.5vw;
    font-weight: bold;
    align-content: center;
    color: var(--accent-color);
}

.drain {
    text-align: right;
    color: var(--accent-color);
}

.upper-header {
    position: absolute;
    box-sizing: border-box;
    top: 0.5dvh;
    left: 0;
    width: 100%;
    font-size: 3.5vw;
    text-align: center;
}

.left-header {
    position: absolute;
    box-sizing: border-box;
    top: 0.5dvh;
    left: 2dvw;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
}