/* Für Chrome, Safari und Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Generell */
input[type="number"] {
    appearance: none;
}

input {
    margin-top: 0;
    margin-bottom: 2dvh;
    color: var(--font-color);
    caret-color: rgba(224, 224, 224, 0.3);
    text-transform: none;
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
    width: 90%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(224, 224, 224, 0.3);
    border-radius: 0;
}

input::placeholder {
    text-transform: uppercase;
    font-size: 4vh;
    font-weight: normal;
    color: rgba(224, 224, 224, 0.3);
}

input:focus {
    outline: none;
}