.collection {
    max-width: 1280px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.collection::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
}